/* MAIN SOURCES */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300,400,500,600,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home {
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), 
    rgba(0, 0, 0, 0.75)), url('/img/background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
/* BAR NAV */
.navbar {
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    font-family: "Dosis", sans-serif;
    font-size: 16px;
}
.logo-link {
    display: flex;
    align-items: center;
}
.logo {
    width: 240px;
    cursor: pointer;
}
.navbar .nav-list {
    display: flex;
    align-items: center;
}
.navbar .nav-list .nav-item,
.user-pic {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar .nav-list .nav-item a,
.user-pic {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after {
    width: 100%;
}
/* MAIN CONTENT */
.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    width: 100%;
}
.title-home {
    font-size: 70px;
    margin-top: 80px;
    font-family: 'Karla', sans-serif;
}
.subtitle-home {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
}
/* BUTTONS */
.buttons-home {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.span-home {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.buttons-home:hover span {
    width: 100%;
    border: 2px solid #fff;
}
.buttons-home:hover {
    border: none;
}
/* FOOTER */
.site-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content {
    display: flex;
    align-items: center;
}
.footer-buttons a {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 14px;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center; 
}
.footer-buttons img {
    border-radius: 111px;
    height: 30px;
    width: 30px;
    background: none;
}
.footer-line {
    height: 40px;
    width: 1.5px;
    background-color: #fff;
    margin: 0 20px;
}
.footer-copyright {
    margin-left: 14px;
    font-size: 15px;
    font-family: "Dosis", sans-serif;
    color: #fff;
}
.footer-buttons {
    display: flex;
}
